.searchResults {
  list-style: none;
  padding: 0;
  &-articleContainer {
    margin-bottom: 1em;
  }
}

.articleSummary {
  background-color: #fff;
  &-cover {
    &.is-placeholder {
      background-color: #d6d6d6;
    }
  }
  &-details {
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1.25rem;
    justify-content: space-between;
  }
  &-source {
    text-transform: uppercase;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 0.8rem;
    span:not(:first-child) {
      &::before {
        content: "•";
      }
    }
  }
  &-title {
    padding: 0;
    font-size: 1.25rem;
    margin: 0.5em 0;
    a {
      text-decoration: none;
    }
  }
  &-author {
    font-size: 0.88rem;
  }
}