

.bi.stack {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 0.8em;
  margin-right: 0.25em;
  color: $publicera-purple-color;
  .bi {
    &:nth-child(1) {
      font-size: 200%;
    }
    &:nth-child(2) {
    }
    position: absolute;
    height: 1.6em;
  }
}