
.journals-list {
  list-style: none;
  padding: 0;
  margin: 0 -15px;
}

.journal-container {
  .journal-thumb-container {
    background-color: #d6d6d6;
  }
}

.journal {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  &:focus-within {
    outline: 2px solid black;
  }
  h3 {
    font-size: 1.375rem;
    line-height: 1.1;
    margin-bottom: 0.5em;
  }
  &-container {
    padding: 15px 15px 15px 15px;
  }
  &-thumb-container {
    overflow: hidden;
    &.is-placeholder {
      display: flex;
      color: $light;
      text-transform: uppercase;
      font-family: $font-family-base;
      font-size: 2rem;
      font-weight: 800;
      align-items: center;
      justify-content: center;
      min-height: 5em;
    }
  }
  &-thumb {
    width: 100%;
    height: 100%;
  }
  &-body {
    padding: 1.25em 1.25em 0 1.25em;
  }
  &-title {
    a {
      text-decoration: none;
    }
  }
  &-description {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.4em;
    margin-bottom: 1em;
    br {
      display: none;
    }
    p {
      margin: 0;
      display: none;
      &:first-child {
        display: block;
      }
    }
    img {
      display: none;
    }
  }
  &-links {
    border: solid $light;
    border-width: 2px 0px 0px 0px;
    display: flex;
    list-style: none;
    padding: 0.5em 0 0.85em 0;
    gap: 1em;
    a {
      font-size: 85%;
      text-decoration: none;
      color: $body-color;
    }
  }
  &-icon {
    color: $publicera-purple-color;
    font-size: 135%;
    position: relative;
    top: 0.25em;
    text-decoration: none;
  }
}