.publicera-header {
  background: rgb(44,94,146);
  background: linear-gradient(90deg, rgba(44,94,146,1) 0%, rgba(73,78,130,1) 50%, rgba(99,69,118,1) 100%);
}

// Make main content fill up so footer is pushed town
.pkp_structure_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pkp_structure_content {
  margin-top: 5em;
  flex-grow: 1;
}

.navbar-brand {
  img {
    margin-right: 0.5em;
  }
}

.breadcrumb {
  margin: 1rem 0;
}

.headerSearch {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 5em;
  box-shadow: 0px 0px 15px 0px #00000052;
  position: relative;
  top: 3.5em;
  margin-top: -3.5em;
  padding: 0 1.2em;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  &:focus-within {
    border: 2px solid $dark;
  }
  i {
    font-weight: bold;
    color: $body-color;
    font-size: 1.4em;
  }
  form {
    flex-grow: 1;
    height: 100%;
    .search_input {
      width: 100%;
      height: 100%;
      input {
        &:focus-visible {
          outline: none;
        }
        padding: 0.5em;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
      }
    }
  }
}