.publicera-header {
  background: rgb(44,94,146);
  background: linear-gradient(90deg, rgba(44,94,146,1) 0%, rgba(73,78,130,1) 50%, rgba(99,69,118,1) 100%);
}
.darkened-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.cmp_form {
  margin: 0;
}

// Make main content fill up so footer is pushed town
.pkp_structure_page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.pkp_structure_content {
  margin-top: 3em;
  margin-bottom: 3em;
  flex-grow: 1;
}

.navbar-brand {
  font-size: 1rem;
  img {
    margin-right: 0.5em;
  }
}

.breadcrumb {
  margin: 1rem 0;
  justify-content: center;
  &-item {
    text-transform: uppercase;
    color: $light;
    font-weight: 500;
    &.active {
      color: $light;
    }
    a {
      color: $light;
    }
  }
}

.header-about {
  padding-bottom: 1em;
  p:first-child {
    font-size: 150%;
    line-height: 1.25em;
    font-family: $headings-font-family;
  }
  br {
    display: none;
  }
  a, a:hover, a:focus {
    color: $light;
    text-decoration: underline;
  }
}

.headerSearch {
  background: #fff;
  border: 2px solid transparent;
  border-radius: 5em;
  box-shadow: 0px 0px 15px 0px #00000052;
  position: relative;
  top: 1.25em;
  margin-top: -3em;
  padding: 0.5em 1.2em;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
  align-items: center;
  &:focus-within {
    border: 2px solid $dark;
  }
  i {
    font-weight: bold;
    color: $body-color;
    font-size: 1.4em;
  }
  form {
    flex-grow: 1;
    height: 100%;
    .search_input {
      width: 100%;
      height: 100%;
      input {
        &:focus-visible {
          outline: none;
        }
        padding: 0.5em;
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
      }
    }
  }
}

footer {
  color: $light;

  a {
    color: $light;
    height: fit-content;

    &:hover {
      color: $light;
    }
  }

  .pkp_footer_content {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .partner-container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    #crossref-badge {
      mix-blend-mode: hard-light;
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .section-actions {
    select {
      font-size: 1.3rem;
    }
  }
}

.input-select {
  display: inline-flex;
  position: relative;
  cursor: pointer;

  select {
    font-family: Sentinel, sans-serif;
    font-weight: 600;
    appearance: none;
    border: 0;
    background: none;
    padding-right: 2rem;
  }

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-0.55rem) rotate(-45deg);
    width: .75rem;
    height: .75rem;
    border: 0px solid #b7b6b6;
    border-left-width: 1px;
    border-bottom-width: 1px;;
  }
}
