$publicera-purple-color: #583c9b;
$article-thumb-width: 80px;
$article-thumb-height: 120px;

// BOOTSTRAP OVERRIDES BELOW THIS POINT

$breadcrumb-divider: quote("•") !default;
$breadcrumb-divider-color:          inherit !default;
$breadcrumb-active-color:           inherit !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
//   xxl: 1400px
);
// scss-docs-end grid-breakpoints


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 95%,
  md: 90%,
  lg: 90%,
  xl: 90%,
//   xxl: 1320px
);
// scss-docs-end container-max-widths


