$publicera-purple-color: #583c9b;
$article-thumb-width: 80px;
$article-thumb-height: 120px;

// BOOTSTRAP OVERRIDES BELOW THIS POINT

$breadcrumb-divider: quote("•") !default;
$breadcrumb-divider-color:          inherit !default;
$breadcrumb-active-color:           inherit !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

// scss-docs-start grid-breakpoints
$grid-breakpoints: (
  xs: 0,
  xxs: 416px,
  sm: 576px,
  md: 826px,
  lg: 1126px,
  xl: 1326px,
  2xl: 1550px
);
// scss-docs-end grid-breakpoints

$grid-gap: 10px;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 95%,
  md: 95%,
  lg: 95%,
  xl: 95%,
//   xxl: 1320px
);
// scss-docs-end container-max-widths


